# -----------------------
# Python
# -----------------------
venv/
venv-wsl/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# -----------------------
# Spark / Data
# -----------------------
data/
*.parquet
*.delta
checkpoints/
_delta_log/

# -----------------------
# AWS
# -----------------------
.aws/
aws/
awscliv2.zip

# -----------------------
# Docker
# -----------------------
*.pid
*.sock

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# OS
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Environment variables
# -----------------------
.env